@font-face {
  font-family: "clarity city";
  src: url(../assets/clarity-city/OpenType/ClarityCity-Regular.otf);
}
@font-face {
  font-family: "clarity city bold";
  src: url(../assets/clarity-city/OpenType/ClarityCity-SemiBold.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Common Class */
:root {
  --primary-color: #343434;
  --secondary-color: #ff3434;
  --third-color: #455a64;
  --forth-color: #ffffff;
}

.cart-container {
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 10px;
}

.product-box {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.product-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.total-box {
  background-color: #f4f4f4;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 5px;
}

.payment-btn {
  width: 100%;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}
.payment-btn {
  display: inline-block;
  font-size: 18px;
  color: var(--forth-color);
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.payment-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  transition: left 0.6s ease;
}

.payment-btn:hover::before {
  left: 125%;
}

.payment-btn:hover {
  background-color: #ffffff;
  color: var(--secondary-color);
  box-shadow: 0 0 20px rgba(255, 52, 52, 0.5);
}
